{% extends 'base.html' %}
{% load static %}
{% block banner_slider %}
{% endblock banner_slider %}
{% block detail-content %} 
<div class="row">
    <form id="add-to-cart-form" method="POST" action="{% url 'addcart' %}">
        {% csrf_token %}
        {% for size in product_sizes %}
        {% if forloop.first %}
        <div style="display:flex;">
            <div class="col-lg-3" style="width: 950px;">
                <img class="thumbnail" src="/static/{{ size.product.image }}" style="width: 900px; height: auto; margin-left:10px; margin-bottom:10px;">
            </div>
            <div>
                <h4>{{ size.product.name }}</h4>
                <h4 id="total" style="color: #cc0000;" class="product-price" data-price="{{ size.product.price }}"> VNĐ</h4>
                <div style="display:flex;">
                    <div class="input-group mb-3">
                        {% for size in product_sizes %}
                        <div class="vcl" style="display:flex; margin-left:5px;">
                            <span class="border mr-3" onclick="toggleSelected(this)" data-size-id="{{ size.id }}">
                                {{ size.size.name }}
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                    <h5 id="quantity" style="position:relative; right:140px; top:10px; width:300px;">Còn {{ size.quantity }} sản phẩm</h5>
                </div>

                <input type="hidden" name="product_id" value="{{ size.product.id }}">
                <input type="hidden" name="size_id" id="size_id">
                <input type="hidden" name="quantity" id="quantity" value = "1">
                <div class="d-flex" style="width:300px;">
                    <div class="input-spinner">
                        <input type="number" class="form-control" name="quantity" id="input-spinner" value="1" min="1" oninput="updateTotal()">
                    </div>
                    <div class="btn-group ml-3 flex-fill action-buttons">
                        <button class="btn btn-add-to-cart flex-fill" id="vdl" type="submit" "{% url 'addcart' %}">
                            <i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </form>
</div>
<div style="z-index: 1; ">
    <h1>Sản phẩm khác</h1>
</div>
<div class="large-12 columns">
    <div class="owl-carousel owl-theme">
        {% for item in products %}
      <div class="item" style="padding-top:100px;">
        
        <a href="{% url 'detail_product' %}?detail={{ item.id}}"><img class="thumbnail" style="height:150px;" src="/static/{{item.image}}" ></a>
        <span class="product-name" style="width:300px;">{{ item.name }}</span>
      </div>
      {% endfor %}
    </div>
    </div>
<style>
    .input-spinner input {
        width: 60px;
        text-align: center;
    }

    .action-buttons .btn-add-to-cart {
        background-color: #003366;
        color: white;
    }

    .action-buttons .btn-add-to-cart:hover {
        background-color: #002244;
    }
    
    .selected {
        border-color: blue !important;
        color: blue;
        font-size: 18px;
    }

    .vcl span {
        cursor: pointer;
    }
    .product-name {
        position: absolute;
        bottom: 10px; /* Vị trí bắt đầu */
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 5px;
        border-radius: 3px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
    }

    .item {
        position: relative;
        overflow: visible; /* Đảm bảo nội dung không tràn ra ngoài */
    }

    .item:hover .product-name {
        display: block;
        animation: slide-up 0.3s forwards; /* Thực hiện animation */
    }

    @keyframes slide-up {
        0% {
            left: 100%;
            opacity: 0;
        }
        100% {
            bottom:40%;
            left: -50px;
            opacity: 1;
        }
    }
</style>

<script>
    document.getElementById("quantity").value = 1
    function updateTotal() {
        var quantity = document.getElementById("input-spinner").value;
        {% for size in product_sizes %}
        {% if forloop.first %}
        var pricePerItem = parseFloat("{{ size.product.price }}"); // Giá mỗi sản phẩm, chuyển về số thực
        var total = quantity * pricePerItem;
        
        document.getElementById("total").textContent = formatPrice(total.toFixed(0)) + " VNĐ"; // Định dạng tiền VNĐ
        {% endif %}
        {% endfor %}
        document.getElementById("quantity").value = quantity;
    }

    function toggleSelected(element) {
        document.querySelectorAll('.mr-3').forEach(function(el) {
            el.classList.remove('selected');
        });
        element.classList.add('selected');
        var size_shoes = element.textContent.trim();
        document.getElementById("size_id").value = size_shoes;
        {% for size in product_sizes %}
        if (size_shoes === "{{ size.size.name }}") {
            document.getElementById("quantity").textContent = "Còn " + "{{ size.quantity }} " + "sản phẩm";
            if("{{ size.quantity }}" !== "0"){
            document.getElementById("input-spinner").max = "{{ size.quantity }}";
            }else{
                document.getElementById("input-spinner").max = 1;
                document.getElementById("input-spinner").min = 1;
            }
            if("{{ size.quantity }}" === "0"){
            document.getElementById("vdl").disabled = true;
        }else{
            document.getElementById("vdl").disabled = false;
        }
        }

        {% endfor %}
        
    }

    document.addEventListener('DOMContentLoaded', function() {
        var defaultElement = document.querySelector('.mr-3'); // Select the default size element
        if (defaultElement) {
            toggleSelected(defaultElement);
        }
    });

    $(document).ready(function() {
              $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
                    nav: true
                  },
                  600: {
                    items: 3,
                    nav: false
                  },
                  1000: {
                    items: 5,
                    nav: true,
                    loop: false,
                    margin: 20
                  }
                }
              })
            })

            function showProductName(element) {
        var productName = element.querySelector('.product-name');
        if (productName) {
            productName.style.display = 'block';
        }
    }

    function hideProductName(element) {
        var productName = element.querySelector('.product-name');
        if (productName) {
            productName.style.display = 'none';
        }
    }
</script>
{% endblock detail-content %}
