{% extends 'base.html' %}
{% load static %}
{% block search-content %} 
<div class="row">
    {% for product_name in product_names %}
    <div class="col-lg-3">
        <img class="thumbnail" src="/static/{{product_name.image}}" alt="...">
        <div class="box-element product">
            <h6><strong>{{ product_name.name }}</strong></h6>
            <hr>
            {% comment %} <button class="btn btn-outline-secondary add-btn btn-cart">Thêm vào giỏ hàng</button> {% endcomment %}
            <a class="btn btn-outline-success btn-seen" href="{% url 'detail_product' %}?detail={{product_name.id}}">Xem</a>
            <h4 style="display:inline-block; float: right; font-size:16px;"><strong>{{ product_name.price }} VNĐ</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock search-content %} 
